<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMC App</title>
</head>
<body>
    <div class="topnav">
        <a href="{{ url_for('main')}}">Home</a>
        <a href="{{ url_for('forum')}}">Forum</a>
        <a href="{{ url_for('donations')}}">Donations</a>
        <a href="{{ url_for('meetings')}}">Meetings</a>
        <a class="active" href="{{ url_for('mcs')}}">MC's in Romania</a>
        <a href="{{ url_for('about')}}">About CMC</a>
    </div>
    <h1 class="h1-center">Welcome to CMC page where the MCs can present themselves</h1>
</body>
</html>